.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: red !important;
}

.ant-carousel .slick-prev::before {
  color: red !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.ant-carousel .slick-next::before {
  color: currentColor !important;
}

.slick-arrow.slick-next {
  font-size: 20px !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: 0;
}

.slick-dots li {
  background-color: rgb(252, 194, 194) !important;
}

.slick-dots li button {
  background: rgb(253, 2, 2) !important;
}

.carousel_background {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}

.booking_button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 90%;
  height: 50px;
}

.play_btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(245, 245, 245);
  font-size: 80px;
}



.card_overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(29, 34, 30, 0.815);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}

.card_overlay:hover {
  display: block;
}

/* =======ANT CARD======== */

.ant-card .ant-card-body {
  padding: 15px 10px !important;
}
