/* ====== CAROUSEL ====== */
.carousel {
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.inner {
  position: relative;
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  height: 100%;
  width: 100%;
}

.carousel_item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background_image {
  content: '';
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.carousel_image {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
}

.carousel_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_arrows {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -40%;
  z-index: 10;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  margin-top: -50px;
}

.indicators > button {
  margin: 10px;
  background: none;
}

.indicator_button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: red;
}

.button_arrows:hover span {
  color: rgb(238, 232, 232);
}

.symbol_indicator {
  color: rgb(247, 243, 243);
  font-size: 25px;
}

.symbol {
  color: rgb(170, 169, 169);
  font-size: 60px;
}

/* ==== POP-UP MODAL ===== */

.modal {
  border: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 80em;
  height: 80vh;
  overflow-y: hidden;
}

.inner_modal button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, 30%);
  background-color: red;
  border-radius: 5px;
  height: 25px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.inner_modal button span {
  font-size: 25px;
}

.inner_modal button:hover {
  background-color: #fff;
  color: red;
}

.inner_modal {
  position: absolute;
  width: 80em;
  height: 70vh;
  background-color: rgb(37, 35, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

.carousel_item .button_modal {
  position: absolute;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  top: 40%;
}

.carousel_item .button_modal span {
  color: white;
  font-size: 80px;
}

.button_modal:hover span {
  font-size: 85px;
  box-shadow: 0px 0px 40px 20px rgb(248, 35, 35);
  border-radius: 50%;
  background-color: rgb(248, 35, 35);
  transition: 0.2s;
}
