.imageBanner {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
}

.btnPlay {
  background-image: url('../../assets/carouselImg/playImg.png');
  background-size: cover;
  background-color: transparent;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.btnPlay:hover {
  border-radius: 50%;
  color: #111;
  background: rgba(218, 235, 213, 0.808);
  box-shadow: 0 0 100px rgb(221, 236, 199);
}
