.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50vw;
  max-height: 720px;
  height: 720px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  overflow: hidden;
}

.bloc-tabs {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.tabs {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  position: relative;
  outline: none;
  height: 100px;
  width: 80%;
}

.active-tabs {
  background: white;
  border-right: 1px solid rgba(0, 0, 0);
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  right: -5px;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}

.content_Tabs {
  background: white;
  width: calc(100% / 3);
  height: auto;
  display: none;
}

.active-content {
  display: flex;
  flex-direction: column;
}

.childTab_content {
  width: calc(100% / 3);
  background: wheat;
  padding: 0 20px;
  height: 300px;
  display: none;
}

.childTab_content-active {
  display: block;
}

.images_outter {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.mid_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.rightTab {
  background-color: white;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.right_child {
  width: 100%;
}
