@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 80vw;
  margin: 40px auto;
}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  padding: 5px !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  border-bottom: 1px solid rgba(100, 99, 99, 0.5);
}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  margin: 0px !important;
}

.ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}
